
# BEGIN Finis
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /speleoalex/finis/finis/
RewriteRule (^google[0-9a-f]{16})\.html $1.html [L,QSA,NC]
RewriteRule (^[0-9a-zA-z_]+)\.html index.php?mod=$1&lang=it [L,QSA,NC]
RewriteRule (^[0-9a-zA-z_]+)\-([0-9a-zA-z_]+)-([0-9a-zA-z_]+)\.html index.php?mod=$1&op=$2&id=$3 [L,QSA,NC]
RewriteRule (^[0-9a-zA-z_]+)\-([0-9a-zA-z_]+)\.html index.php?mod=$1&op=$2&lang=it [L,QSA,NC]
RewriteRule (^[^\/^\-]+)\-([0-9a-zA-z_]+)-([0-9a-zA-z_]+)\.([a-zA-z][a-zA-z])\.html index.php?mod=$1&op=$2&id=$3&lang=$4 [L,QSA,NC]
RewriteRule (^[^\/^\-]+)\-([0-9a-zA-z_]+)\.([a-zA-z][a-zA-z])\.html index.php?mod=$1&op=$2&lang=$3 [L,QSA,NC]
RewriteRule (^[^\/^\-]+)\.([a-zA-z][a-zA-z])\.html index.php?mod=$1&lang=$2 [L,QSA,NC]
</IfModule>
# END Finis